cluster_name: {{ rke_cluster_name }}
kubernetes_version: {{ rke_kubernetes_support[rke_kubernetes_version] }}
enable_cri_dockerd: {{ rke_enable_cri_dockerd | lower }}

authentication:
  strategy: {{ rke_auth_strategy }}
  sans: {{ rke_auth_sans | to_yaml | trim }}

authorization:
  mode: {{ rke_auth_mode }}
{% if rke_nodes_config | default(False) %}

nodes:
{% if not rke_nodes_config is string and rke_nodes_config is iterable %}
{{ rke_nodes_config | to_nice_yaml(indent=2) | trim }}
{% else %}
{{ rke_nodes_config | from_yaml | to_nice_yaml(indent=2) | trim }}
{% endif %}
{% endif %}

network:
  plugin: {{ rke_network_plugin }}
{% if rke_network_mtu | default(False) %}
  mtu {{ rke_network_mtu }}
{% endif %}
{% if rke_network_options | default(False) %}
  options:
    {{ rke_network_options | to_nice_yaml(indent=2) | indent(width=4) | trim }}
{% endif %}
{% if rke_network_plugin == 'weave' %}
  weave_network_provider:
    password: {{ rke_network_password }}
{% endif %}

services:
  etcd:
    backup_config:
      enabled: {{ rke_backup_enabled | lower }}
{% if rke_backup_enabled | default(False) %}
      interval_hours: {{ rke_backup_interval }}
      retention: {{ rke_backup_retention }}
      s3backupconfig:
{% if rke_s3_endpoint | default(False) %}
        endpoint: {{ rke_s3_endpoint }}
{% endif %}
        region: {{ rke_s3_region }}
        access_key: {{ rke_s3_access }}
        secret_key: {{ rke_s3_secret }}
        bucket_name: {{ rke_s3_bucket }}
{% if rke_s3_folder | default(False) %}
        folder: {{ rke_s3_folder }}
{% endif %}
{% endif %}
{% if rke_etcd_config | default(False) %}
    {{ rke_etcd_config | to_nice_yaml(indent=2) | indent(width=4) | trim }}
{% endif %}
{% if rke_kubeapi_config | default(False) %}

  kube-api:
    {{ rke_kubeapi_config | to_nice_yaml(indent=2) | indent(width=4) | trim }}
{% endif %}
{% if rke_controller_config | default(False) %}

  kube-controller:
    {{ rke_controller_config | to_nice_yaml(indent=2) | indent(width=4) | trim }}
{% endif %}
{% if rke_kubelet_config | default(False) %}

  kubelet:
    {{ rke_kubelet_config | to_nice_yaml(indent=2) | indent(width=4) | trim }}
{% endif %}
{% if rke_kubeproxy_config | default(False) %}

  kubeproxy:
    {{ rke_kubeproxy_config | to_nice_yaml(indent=2) | indent(width=4) | trim }}
{% endif %}
{% if rke_scheduler_config | default(False) %}

  scheduler:
    {{ rke_scheduler_config | to_nice_yaml(indent=2) | indent(width=4) | trim }}
{% endif %}
{% if rke_dns_config | default(False) %}

dns:
  {{ rke_dns_config | to_nice_yaml(indent=2) | indent(width=2) | trim }}
{% endif %}
{% if rke_ingress_config | default(False) %}

ingress:
  {{ rke_ingress_config | to_nice_yaml(indent=2) | indent(width=2) | trim }}
{% endif %}
{% if rke_monitoring_config | default(False) %}

monitoring:
  {{ rke_monitoring_config | to_nice_yaml(indent=2) | indent(width=2) | trim }}
{% endif %}
{% if rke_registries_config | default(False) %}

private_registries:
  {{ rke_registries_config | to_nice_yaml(indent=2) | indent(width=2) | trim }}
{% endif %}
{% if rke_images_config | default(False) %}

system_images:
  {{ rke_images_config | to_nice_yaml(indent=2) | indent(width=2) | trim }}
{% endif %}
{% if rke_provider_config | default(False) %}

cloud_provider:
  {{ rke_provider_config | to_nice_yaml(indent=2) | indent(width=2) | trim }}
{% endif %}
{% if rke_addon_default | default(False) or rke_addon_extra | default(False) %}

addons_include:
{% for addon in rke_addon_default + rke_addon_extra %}
{%- if addon.url | default(False) %}
  - {{ addon.url }}
{% else %}
{%- if addon.state | default('present') == 'present' %}
  - /etc/rke/addons/{{ addon.name }}.yml
{% endif -%}
{% endif -%}
{% endfor %}
{% endif %}
