---
name: galaxy

"on":
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - v*

jobs:
  galaxy:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'rolehippie'

    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Galaxy upload
        uses: robertdebock/galaxy-action@1.2.1
        with:
          galaxy_api_key: ${{ secrets.GALAXY_TOKEN }}

...
