---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: galaxy

"on":
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - v*

permissions:
  contents: read

jobs:
  galaxy:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'rolehippie'

    steps:
      - name: Checkout source
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Galaxy upload
        uses: actionhippie/ansible-galaxy@378495a09473f51f11c73206980d804f2180d9e9 # v1
        with:
          token: ${{ secrets.GALAXY_TOKEN }}

...
